# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment / virtualenv
venv/
env/
*.env

# Gmail API credentials
credentials.json
token.json

# IDE / editor files
.vscode/
.idea/
*.swp
